// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

$c-nav: #2c3e50;
$c-white: #fefefe;

$s-bottom-line: #000 0.1rem solid;

@import 'box-sizing';
@import 'reset';

.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background: $c-nav;

  &__title {
    width: 60rem;
    margin: 0;
    color: $c-white;
    font-family: American Typewriter;
  }
}

.section {
  display: flex;
  justify-content: center;
}

.title {
  margin: 0;
  border-bottom: $s-bottom-line;
  font-family: American Typewriter;
}

.container {
  display: flex;
  width: 60rem;
}

.sidebar {
  width: 30%;
  margin: 1rem;

  &__pic {
    border-radius: 0.5rem;
  }

  &__title {
    font-size: 20px;
  }
}

.creator {
  font-size: 15px;
}

.series {
  width: 70%;
  margin: 1rem;
}

.characters {

}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: calc(100% / 4 - 2rem);
    margin: 1rem;
  }
}

.card {

  &__pic {
    width: 100%;
    border-radius: 0.5rem;
  }

  &__number {
    font-size: 20px;
  }
}

.read-more {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.3rem;
  background: $c-nav;
  color: $c-white;
  cursor: pointer;
}


.exit {
  margin: 0.5rem;
  float: right;
  border: 0;
  background: $c-white;
  cursor: pointer;
}

.app {
  position: relative;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75%;
  min-height: 10rem;
  transform: translate(-50%, -50%);
  background: blue;

  &-desc {

  }
}
